

        <div ng-cloak class="container market" ng-repeat="thisProduct in prodCtrler.items | filter:prodItems">
            <!-- START SIMPLE DATATABLE -->




            <div class="col-md-12 tableReferenceColumn">
                <div class="panel panel-primary panelQuoteRequest">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="#"><strong>{{thisProduct.name}}</strong></a></h3>



                    </div>
                    <div class="panel-body">
                        <button class="btn btn-primary pull-right" ng-click="prodCtrler.redirectToLogin();">Click for more Info</button>


                        <div class="col-md-12 panel-default panelDetails">
                            <div class="panel-body-details row">

                                <div class="row">

                                    <div class="col-md-5">
                                        <div class="panel-group ">
                                            <img src="~/content/theme/images/constructionmaterials.jpg" class="img-responsive" alt="John Doe" />
                                        </div>


                                        <!-- START GOOGLE MAP WITH MARKER -->
                                        <div class="panel-group panel-body-map">
                                            <div class="map_display_ProductMarketPlace"
                                                 id="map_display_{{thisProduct.productId}}"
                                                 data-latitude="{{thisProduct.latitude}}"
                                                 data-longitude="{{thisProduct.longitude}}"
                                                 style="height: 250px; width: 100%"></div>
                                        </div>
                                        <!-- END GOOGLE MAP WITH MARKER -->


                                        <div class="panel-body">
                                            <h3><span class="fa fa-map-marker"></span> {{thisProduct.address1}}</h3>
                                            <p>{{thisProduct.city}}, {{thisProduct.state}}, {{thisProduct.zipCode}}</p>
                                        </div>


                                        <div class="panel-group">
                                            <h3><span class="fa fa-map-marker"></span> </h3>

                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="panel-group ">
                                            <h3><label class="control-label"><u>Category</u></label></h3>
                                            <div class="panel-estimation">
                                                <span>{{thisProduct.category}}</span>
                                            </div>
                                        </div>

                                        <div class="panel-group ">
                                            <h3><label class="control-label"><u>Description</u></label></h3>
                                            <div class="panel-due-date">
                                                <span>{{thisProduct.description}}</span>
                                            </div>
                                        </div>

                                        <div class="panel-group ">
                                            <h3><label class="control-label"><u>Quantity</u></label></h3>
                                            <div class="panel-status">
                                                <span>{{thisProduct.quantity}} units</span>
                                            </div>
                                        </div>

                                        <div class="panel-group ">
                                            <h3><label class="control-label"><u>Proximity</u></label></h3>
                                            <div class="panel-status">
                                                <span>{{thisProduct.distance_in_mi}} miles from your location</span>
                                            </div>
                                        </div>

                                        <div class="panel-group">
                                            <h3><label class="control-label"><u>CategoryId</u></label></h3>
                                            <div class="panel-status">
                                                <span>{{thisProduct.categoryId}}</span>
                                            </div>
                                        </div>

                                        <div class="panel-group">
                                            <h3><label class="control-label"><u>Latitude</u></label></h3>
                                            <div class="panel-status">
                                                <span>{{thisProduct.latitude}}</span>
                                            </div>
                                        </div>
                                        <div class="panel-group">
                                            <h3><label class="control-label"><u>Longitude</u></label></h3>
                                            <div class="panel-status">
                                                <span>{{thisProduct.longitude}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <!-- END SIMPLE DATATABLE -->



